<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <div class="modal-form">
      <h2>How Was It?!</h2>
      form_for 

    </div>
  </div>
</div>
