<div class="header-clear">
</div>
<div class="search-results">
	<% @response.businesses.each do |restaurant| %>
	<div class="restaurant-card">
		<p><%= restaurant.name %></p>
		<p><%= restaurant.phone %></p>
		<img src= <%= restaurant.image_url %> ></img>
		<button id="modal" data-target="<% restaurant.id %>">Write A Review</button>

		<%= render 'modal' %>

	</div>
	<% end %>
</div>
