.main-container
  width: 1300px
  background: url("burger-header.jpg")
  background-size: 100% 100%


.search-container
  width: 1000px
  height: 300px
  display: flex

.search-form
  margin-right: auto
  margin-left: auto

.search-form input
  height: 40px
  box-shadow: 5px 5px 5px #ccc

.company-name
  font-style: lobster
  font-color: #FFFFFF
